node_modules
/**/*/node_modules
# Yarn
.yarn/*
!.yarn/cache
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
*yarn*
.yarn

lerna-debug*
package-lock*


# Expo
packages/*/.expo
packages/*/.expo-shared
.expo